<div class="form">
    <!-- Form to get campaign informations -->
    <p>Campaign name : </p>
    <input type="text" ng-model="campaign.name"></input>
    <p>Campaign URL : </p>
    <input type="text" ng-model="campaign.url"></input>
    <p>Campaign number : </p>
    <input type="text" ng-model="campaign.num"></input>
    <p>
        <button ng-click="generateNames()">Add</button>
    </p>

    <div ng-repeat="entry in entries">
        <p>
            {{entry.id}}, {{entry.title}}, {{entry.text}}
        </p>
    </div>
    <div ng-repeat="campaignName in campaignTrueNames">
        <span>{{campaignName.name}}</span>
        <span>{{campaignName.url}}</span>
        <span>{{campaignName.num}}</span>
    </div>

    <div ng-repeat="info in infoFromMock">
        <span>{{info.title}}</span>
        <span>{{info.text}}</span>
        <span>{{info.id}}</span>
    </div>
</div>